.footer-link{
    list-style: none;
}

.footer-link a {
    text-decoration: none;
}

.headline-bg{
    background: #EFEBEA;
}

.headline-link-hover{
    text-decoration: none;
    color: black;
}

.headline-link-hover:hover h5,
.headline-link-hover:hover h1{
    color: red;
    text-decoration: none;
}

@media (max-width: 767px){

    .md-img-width{
        max-width: 100%;
    }
}