.footer-link{
    list-style: none;
}

.footer-link a {
    text-decoration: none;
}

.headline-bg{
    background: #EFEBEA;
}

.headline-link-hover{
    text-decoration: none;
    color: black;
}

.headline-link-hover:hover h5,
.headline-link-hover:hover h1{
    color: red;
    text-decoration: none;
}

.section-three-sub-cat-card-border{
    border-right: 1px solid black;
}

.section-three-sub-cat-img-hight {
    height: 195px;
}



@media (max-width: 767px){

    .md-img-width{
        max-width: 100%;
    }
    .display{
        display: flex;
    }
    .heading-bg-md{
        background: white;
    }
    /* .section-three-sub-cat-text-md-padding{
        padding-left: 32px!important;
    } */
    /* .section-three-sub-cat-img-md-padding{
        padding-left: 0;
        padding-right: 18px;
    } */
    .section-three-sub-cat-card-border{
        border-right: none;
        border-bottom: 1px solid black;
    }
}